@font-face {
  font-family: "Futura normal";
  src: url("../../fonts/futura\ medium\ bt.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Futura bold";
  src: url("../../fonts/Futura\ Bold\ font.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Futura light";
  src: url("../../fonts/futura\ light\ bt.ttf") format("truetype");
  font-weight: light;
}

.second-section {
  padding: 50px 150px;
  background-color: #58585a;
}

.second-section h1 {
  color: #fec240;
  font-size: 50px;
  font-family: "Futura normal";
  font-weight: normal;
  /* margin-bottom: -5px; */
  /* margin-top: 20px; */
}

.second-section h2 {
  color: #fec240;
  font-size: 35px;
  font-family: "Futura normal";
  font-weight: normal;
  /* margin-bottom: -5px; */
  margin-top: 20px;
}

.second-section p {
  color: white;
  font-family: "Futura light";
  font-size: 25px;
  font-weight: light;
  line-height: 45px;
}

.second-section button {
  font-family: "Futura normal";
  font-size: 30px;
  font-weight: normal;
  background-color: black;
  color: #fec240;
  border: none;
  border-radius: 10px;
  padding: 18px 26px;
  transition: all 0.2s ease-in-out;
}

.second-section button:hover {
  background-color: white;
  font-size: 30px;
  color: black;
  /* padding: 19px 27px; */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;  */
}

.item-1 {
  flex: 2;
  margin-right: 50px;
  max-width: 500px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 30px 40px;
  /* flex: 1; */
  background-color: #fec240;
  max-width: 350px;
  height: 550px;
}

.box h2 {
  color: black;
}

.box .arrow {
  width: 15px;
}

.box p {
  color: black;
}

@media (max-width: 575.98px) {
  .second-section .item-1 {
    width: 100%;
  }
  .second-section {
    padding: 45px 16px;
  }
  .second-section h2 {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-family: 'Futura normal';
    /* font-style: normal; */
    /* font-weight: 400; */
    line-height: normal;
    margin: 0;
  }
  .second-section .box {
    padding: 35px;
    height: auto;
  }
  .second-section .box .arrow {
    margin: 25px 0;
  }
  .second-section .desc {
    color: #000;
    text-align: center;
    font-family: 'Futura light';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .second-section .title {
    margin-top: 35px;
    color: #fec240;
    font-size: 40px;
    font-family: 'Futura normal';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .second-section .description {
    color: #fff;
    font-family: 'Futura light';
    font-size: 22px;
    /* font-style: normal; */
    /* font-weight: 400; */
    line-height: 37px; 
    margin: 20px 0;
  }
  .second-section .item-1 h2 {
    color: #fec240;
    font-family: 'Futura normal';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
  }
  .second-section .logo {
    width: 72px;
    height: 72px;
    margin: auto;
  }
  .second-section .logo img{
    width: 100%;
   
  }
}
