/* Modal.css */
@font-face {
  font-family: 'Futura normal';
  src: url('../../fonts/futura\ medium\ bt.ttf') format('truetype');
  font-weight: normal;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  color: black;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 600px;
  background-color: white;
  padding: 0 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.modal .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
}

.modal h1 {
  font-family: "Futura normal";
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  width: 80%;
}

.modal input {
  background-color: #e0e0e0;
  width: 80%;
  border-radius: 5px;
  border-color: #a0a0a0;
  border-width: 1px;
  margin: 0;
  margin-bottom: 20px;
  box-shadow: none;
}

.modal .download-btn {
  width: 80%;
}